.personal-container{
    display: flex;
    flex-direction: column;
    // gap: 30px;
    h2{
        margin-bottom: 0;
    }
    p{
        margin-top: 2.5px;
        margin-bottom: 30px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        label{
            display: flex;
            flex-direction: column;
            gap: 1px;
            input{
                padding: 2%;
                // border-radius: 2px;
            }
        }
    }
    
}
